
*.o
*.a
*.exe
*.dll
src/build.bat
asmjit

src/dox
src/po/1
src/po/de_DE_utf8.mo
src/po/de_DE_utf8.mo.gz
src/po/de_DE_utf8.po
src/po/de_DE_utf8.pot
exec/locales/de_DE/LC_MESSAGES/de_DE_utf8.mo.gz
exec/locales/en_US/LC_MESSAGES/en_US_utf8.mo.gz
