
*.o
*.a
*.exe
*.dll
src/build.bat

doc/html/*

exec

src/1
src/2
src/dox
src/po/1
src/po/*.mo
src/po/*.gz
src/po/*.po
src/po/*.pot
src/temp/*
src/defs.*
src/warnings.txt
src/1.cc
src/2.c
src/config.h
src/po/2
doc/HelpNDoc/Output/dBaseHelp.chm
src/Doxyfile.Server.Layout.bak
src/styleSheetFile.bak
src/footerfile.bak
src/headerfile.bak
src/warnings.deu.log
src/Doxyfile
src/Doxyfile
src/warnings.log
src/filter.py
